.section--brewery {
    margin: 4rem 0;
    display: flex;
    align-items: center
}

.section__image {
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    margin-right: 30px;
}

.section__content {
    flex: 2;
    padding-right: 3rem;
}

.section__content p {
    margin-bottom: 20px;
}