.section--beer {
    text-align: center;
    padding: 6rem 2rem;
    .section__about {
        width: 50%;
        margin: auto;
    }
}

.grid-carousel {
    display: flex;
    display: none;
}

@media (max-width: 700px) {
    .section__about {
        width: 95%;
        margin: auto;
    }   
}