.section--brewery {
    margin: 4rem 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.section--brewery .section__image {
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    margin-right: 30px;
    padding: 0;
}

.section__content {
    flex: 2;
    padding-right: 3rem;
}

.section__content p {
    margin-bottom: 20px;
}

@media (max-width: 680px) {
    .section--brewery {
        flex-direction: column;
    }
    .section--brewery .section__image {
        display: none;
        height: 500px;
        width: 100%;
        margin: 0;
    }
    .section--brewery .section__content {
        flex: 2;
        padding: 3rem;
        position: relative;
    }
    .section--brewery .section__content p {
        color: #272727
    }
    .section--brewery .section__content::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../images/keg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .7;
        z-index: -1;
    }
}