.section--mission,
.section--taproom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section--taproom {
    flex-direction: row-reverse
}

.card {
    width: 500px;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    position: relative;
    box-shadow: 0 0 15px #00000080;
}

.card--dark {
    background: #424D51;
}

.card--light {
    background: #fff;
}

.card:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.card--dark:after {
    border: 3px dashed #718085;
}

.card--light:after {
    border: 3px dashed #414A4D;
}

.card--dark .section__title{
    color: #fff;
}

.card p {
    margin-bottom: 20px;
}
.card--dark p {
    color: #A3B9BF;
}
.card--light p {
    color: #414A4D;
}

.btn {
    padding: 6px 20px;
    font-family: 'program';
    border-radius: 7px;
    margin-right: 10px;
    margin-top: 10px;
}

.btn--light {
    background: #D5C8C0;
    color: #414A4D;
}

.btn--dark {
    background: #414A4D;
    color: #D5C8C0;
}

.btn--outline {
    color: #414A4D;
    background: transparent;
    border: 2px solid #414A4D;
}

.front {
    margin-left: -50px;
    margin-top: 140px;
    z-index: 10;
}

.card ~ .section__image {
    display: none;
}

@media (max-width: 870px) {
    .section--mission,
    .section--taproom {
        flex-direction: column-reverse
    }
    .card {
        padding: 1.3rem;
        box-shadow: none;
    }
    .card ~ img {
        display: none;
    }
    .card ~ .section__image {
        display: block;
        height: 300px;
        width: 100%;
        background: url(../images/mission.jpg) no-repeat fixed;
        background-size: cover;
    }
    .card--light ~ .section__image {
        background: url(../images/taproom.jpg) no-repeat fixed;
        background-size: cover;
    }
    .back {
        margin:0;
        width: 100%;
        object-fit: cover
    }
    .front {
        object-fit: cover;
        width: 100%;
        margin: 0
    }
}