footer {
    text-align: center;
    margin: 150px 0;
    font-family: $bold;
    color: #D1C9C1
}

.logo--light path {
    fill: #D1C9C1;
}

footer .logo {
    margin: 20px auto;
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.4s ease-in-out;
    &.is-showing {
        transform: translateX(0);
        opacity: 1;
    }
}