footer {
    text-align: center;
    margin: 150px 0;
    color: #D1C9C1;
}

.logo--light path {
    fill: #D1C9C1;
}

footer .logo {
    margin: 20px auto;
    @extend %is-not-showingX;
    &.is-showing {
        @extend %is-showingX
    }
}