nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: .5rem 0;
    z-index: 1000;
    background: transparent;
    transition: all 0.5s ease-in;
    &.alone {
        background: #414a4d;
        box-shadow: 0 3px 20px #0008
    }
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    max-width: 450px;
    margin: auto
}

@media (max-width: 450px) {
    nav {
        padding: .5rem 1.25rem;
        font-size: 18px;
    }
}